body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}
header {
  padding-bottom: 2rem;
  border-bottom: 1px solid;
  width: 80%;
 padding-top: 1rem;
  margin: 0 auto;
}
.ham {
  margin-right: 1rem;
  display: none;
}
.logo {
  width: 100%;
}
li {
  list-style: none;
  color: hsl(219, 9%, 45%);
  cursor: pointer;
}
li:hover{
  border-bottom: 2px solid hsl(26, 100%, 55%);
}
.avatar {
  width: 40%;
  margin-left: 1rem;
}
.avatar:hover{
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: hsla(0, 0%, 0%, 75%);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  width: 30%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 7%;
  right: 35%;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: hsl(26, 100%, 55%);
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}
.mySlides img {
  border-radius: 10px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  /* margin-top: -50px; */
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.prevbg {
  width: 50px;
  position: absolute;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  top: 40%;
  left: -5%;
}
.prev {
  text-align: center;
  margin-top: -2rem;
}
.next {
  text-align: center;
  margin-top: -2rem;
}
.nextbg {
  width: 50px;
  position: absolute;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  top: 40%;
  left: 95%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: hsl(26, 100%, 55%);
}
.thumb {
  margin-top: 2rem;
  text-align: center;
}
.thumb img {
  width: 70%;
  border-radius: 5px;
}
.mainpage {
  display: flex;
  padding: 4rem 2rem;
  width: 80%;
  margin: 0 auto;
}
.section1 {
  width: 50%;
  margin-right: 6rem;
}
.section2 {
  width: 40%;
  margin-top: 3rem;
}
.newprice {
  display: flex;
  align-items: center;
}
h3 {
  margin-right: 0.5rem;
}
.newprice p {
  margin-top: 0.5rem;
  background-color: hsl(25, 100%, 94%);
  padding: 0.3rem;
  color: hsl(26, 100%, 55%);
  border-radius: 5px;
}
.oldprice {
  text-decoration-line: line-through;
  color: hsl(219, 9%, 45%);
}
.addCart {
  display: flex;
  justify-content: space-between;
}
.cartcalc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  background-color: hsl(223, 64%, 98%);
  border-radius: 20px;
}
.cartcalc p {
  margin-top: 0.5rem;
}
button {
  width: 60%;
  background-color: hsl(26, 100%, 55%);
  color: white;
  border-radius: 20px;
  border: none;
}
.shoes {
  width: 100%;
}
.mainthumb img {
  width: 70%;
  border-radius: 5px;
  margin-top: 1rem;
}
.mainthumb {
  text-align: center;
}
h1 {
  font-weight: 700;
}
h2 {
  color: hsl(26, 100%, 55%);
  font-weight: 500;
  font-size: 1.5rem;
}
p {
  color: hsl(220, 13%, 13%);
}
.basket{
  width: 20px;
  height: 20px;
  background-color: hsl(26, 100%, 55%);
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 80%;
}
.basketcart{
  font-size: 13px;
  text-align: center;
  color: white;
}
.cart{
  background-color: white;
  box-shadow: 5px 5px 20px;
  width: 25%;
  position: absolute;
  top: 10%;
  z-index: 8838;
  border-radius: 15px;
  left: 65%;
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.cartmodal{
  cursor: pointer;
}
.hidden{
  display: none;
}
.cartdetails{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  /* background-color: pink; */
  margin: 0 auto;
  margin-bottom: 1rem;
}
.shoecartdetails{
  width: 15%;
  /* margin-right: 1rem; */
}
.cartbaskettext{
  /* background-color: blue; */
  padding: 1rem;
  border-bottom: 1px solid;
}
.cartcheckout{
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}
.cartdescription{
  line-height: 0.2rem;
  margin-top: 1rem;
}
.total{
  font-weight: bold;
}
.minus,.plus{
  cursor: pointer;
}
img{
  cursor: pointer;
}
.emptycart,.postemptycart{
  text-align: center;
  padding: 5rem 0;
}
.mobilemenubg{
  display: none;
}
@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
 .desktoplist {
    display: none;
  }
  .ham {
    display: block;
  }
  header {
    width: 100%;
    padding: 0.5rem 0rem 0.5rem 1rem;
    border-bottom: none;
    justify-content: space-between;
  }
  .avatar{
    width: 20%;
    margin-right: -3rem;
  }
  .mainpage {
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem;
    width: 100%;
  }
  .shoes {
    display: none;
  }
  .thumb {
    display: none;
  }
  .mainthumb {
    display: none;
  }
  .modal {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
    background-color: transparent;
    overflow-x: hidden;
  }
  .close {
    display: none;
  }
  .mySlides {
    width: 100vw;
    display: block;
    margin-left: 0;
    position: relative;
    left: -120%;
    margin-top: -7rem;
  }
  .prevbg {
    top: 40%;
    left: -100%;
  }
  .nextbg {
    top: 40%;
    left: 155%;
  }
  .section2{
    width: 80vw;
    margin: 1rem auto;
    /* margin-left: -1rem; */
  }
  .addCart{
    flex-direction: column;
  }
  .cartcalc,button {
    width: 100%;
    border-radius: 10px;
  }
  button{
    margin: 1rem 0;
    padding: 1rem 0;
  }
  .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .newprice p{
    margin-top: 0.9rem;
  }
  .cart{
    background-color: white;
    box-shadow: 5px 5px 20px;
    width: 90%;
    position: absolute;
    top: 10%;
    z-index: 8838;
    border-radius: 15px;
    left: 5%;
  }
  .mobilelist{
    margin-top: 1rem;
  }
  .mobilemenu{
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 93847;
    display: block;
    height: 100vh;
    width: 70%;
    /* transform: translateX(-100%); */
  }
  .closemobilemenu{
    position: absolute;
    top: 5%;
    left: 10%;
  }
  .mobilemenu ul{
    margin-top: 8rem;
    margin-right: 10rem;
  }
  .mobilemenubg{
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
  }
  .basket{
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: 5%;
  }
  .cartnumber{
    position: relative;
  }
  .cartname{
    width: 100%;
    line-height: 1rem;
  }
  .cartdescription{
    margin-left: 1rem;
  }
  .cartdetails{
    justify-content: left;
  }
}
